*{
    margin : 0;
    padding : 0;
    font-family: Nunito;
}

/* NAVBARRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRR */
/* styling navbar */
#sectionNavbar{
    height: 15vh;
    /* background-color: pink; */
    z-index: -1;
    /* position: absolute;
    right: 0; */
}
.logo{
    margin-left: 4px;
    size: 200px;
}
.navbar{
    position: relative;
    width: 100%;
    z-index: 0;
    transition: all 0.3s ease;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .menu li{
    position: relative;
    left: 45vw;
    list-style: none;
    display: inline-block;
    /* float: left; */
}
.navbar .menu li a{
    display: block;
    color :#222222;
    opacity: 50%;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
    text-decoration: none;
    font-weight: bold;
}
.navbar .menu li a:hover{
    color:  #18a4fc;
    opacity: 100%;
}
.navbar.sticky .menu li a:hover{
    color :#70828d;
    transition: all 0.3s ease;
    opacity: 50%;
}
/*MASUK DAFTAR di navbar*/
section#sectionNavbar .navbar #buttonMasuk a{
    display: inline-block;
    background: #18a4fc;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    padding: 5px 2vh;
    border-radius: 6px;
    border: 2px solid #18a4fc;
    transition: all 0.3s ease;
}
section#sectionNavbar .navbar #buttonDaftar a{
    display: inline-block;
    background: #18a4fc;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    padding: 5px 2vh;
    border-radius: 6px;
    border: 2px solid #18a4fc;
    transition: all 0.3s ease;
    margin-left: 2px;
}
/* USER DROPDOWNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN */
.itemdropdown{
    position: fixed;
    top: 20px;
    right: 30px
}
.itemdropdown .profile{
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}
.itemdropdown .profile img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.itemdropdown .menu-profile{
    position: absolute;
    top: 80px;
    right: -10px;
    padding: 10px 20px;
    background: whitesmoke;
    width: 200px;
    box-sizing: 0 5px 25px rgba(0,0,0,0.1) ;
    border-radius: 15px;
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
}
.itemdropdown .menu-profile.active{
    top: 80px;
    visibility: visible;
    opacity: 1;
}
.itemdropdown .menu-profile::before{
    content:'';
    position: absolute;
    top: -5px;
    right: 28px;
    width: 20px;
    height: 20px;
    background: whitesmoke;
    transform: rotate(45deg);
}
.itemdropdown .menu-profile h3{
    width: 100%;
    text-align: center;
    font-size: 18px;
    padding: 20px 0;
    font-weight:500;
    font-size: 20px;
    color: #555;
    line-height: 1.5em;
    font-weight: bold;
}
.itemdropdown .menu-profile h3 span{
    font-size: 14px;
    color: #cecece;
    font-weight: 400;
}
.itemdropdown .menu-profile ul li{
    list-style: none;
    padding: 10px 0;
    /* border-top: 1px solid rgba(2px,0,0,0.05); */
    direction: flex;
    align-items: center;
    justify-content: center;
}
.itemdropdown .menu-profile ul li img{
    max-width: 25px;
    margin-left: -20px;
    opacity: 0.5;
    transition: 0.5s;
}
.itemdropdown .menu-profile ul li:hover img{
    opacity: 1;
}
.itemdropdown .menu-profile ul li a{
    display: inline-block;
    text-decoration: none;
    color: #555;
    font-weight: 500;
    transition: 0.5s;
    font-size: 18px;
    font-weight: bold;
    margin-left: 15px;
}
.itemdropdown .menu-profile ul li:hover a{
    color: #18a4fc;
}
/* CONTENTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT */
/* isi webpage */
#webContent{
    /* background-color: gray; */
    width: 100%;
}
/* FOOTERRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRR */
/* styling footer */
#sectionFooter{
    height: 33vh;
    width: 100%;
}
#sectionFooter hr{
    color: #18a4fc;
    height: 2px;
}
footer a{
    display: block;
    color :#222222;
    opacity: 50%;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
    text-decoration: none;
    font-weight: bold;
    transform: translate(0,100%);
}
footer p{
    color: Black;
    text-decoration: none;
    padding-left: 35px;
    transform: translate(0,-110%);
}
footer p:hover{
    text-decoration: none;
}
/* HOMEEEEEEEEEEEEEEEEEEEEEEEEEE HOME HOME HOME EEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEE */
/* gambar di atas */
section#homeLanding img{
    width: 50%;
    float: right;
    padding-right: 100px;
}
section#homeLanding h1{
    font-weight: bold;
    width: 50%;
    font-size: 54px;
    float: left;
    padding-top: 5vh;
    padding-left: 110px;
}
section#homeLanding p{
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
    margin-left: 110px;
}
/* button */
section #homeLanding #button #laundryNow{
    padding-left: 111px;
}
section #homeLanding #button a{
    display: inline-block;
    background: #18a4fc;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid #18a4fc;
    transition: all 0.3s ease;
}
section #homeLanding #button a:hover{
    color: #18a4fc;
    background: none;
}
/* Gimana sih cara laundry disini? */
section#howTo h6{
    color: #222222;
    font-family: Nunito;
    font-weight: Bold;
    font-size: 36px;
    opacity: 1;
    text-align: center;
    padding-top: 100px;
    position: relative;

}
div.gallery {
    /* margin: 2px; */
    margin-left: 4%;
    display: flex;
    flex-direction: column;
    float: left;
    width: 15%;
    color: #222222;
}
div.title {
    padding: 15px;
    text-align: center;
    font-size: 24px;
    font-weight: bolder;
}
div.desc {
    text-align: center;
    font-size: 18px;
}
section #howTo #button #pesanSekarang{
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
}
/* kenapa laundry disini? */
section#Why h6{
    color: #222222;
    font-family: Nunito;
    font-weight: Bold;
    font-size: 36px;
    opacity: 1;
    text-align: center;
    padding-top: 100px;
}
div.icon {
    padding-top: 50px;
    float: left;
    width: 25%;
    margin-left: -18px;
}
div.descWhy {
    padding-top: 15vh;
    padding-left: 85px;
    text-align: center;
    font-size: 18px;
}

/* Diatas footer. button paket dan membership */
#paketDanMember{
    padding-top: 100px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    padding-left: 50px;
}
#diskon{
    height: 108px;
    width: 290px;
    top: 70px;
    position: relative;
}
#iron{
    width: 287px;
    height: 265px;
}
#iconMember, #iconPaket{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-evenly;
    padding-left: 0px;
    font-weight: bold;
    font-size: 32px;
}

#membership #button a{
    display: inline-block;
    background: #18a4fc;
    color: #fff;
    font-weight: bold;
    font-size: 17px;
    padding: 5px 20px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid #18a4fc;
    transition: all 0.3s ease;
}

#membership #button a:hover{
    color: #18a4fc;
    background: none;
}

#buttonDanHargaPlat{
    display: flex;
    flex-direction: row;
}

#buttonDanHargaSilv{
    display: flex;
    flex-direction: row;
}

#hargaPlat{
    font-weight: bolder;
    padding-top: 27px;
    padding-left: 20px;
}

#hargaSilv{
    font-weight: bolder;
    padding-top: 27px;
    padding-left: 20px;
}


/* FAQ FAQ FAQ FAQ FAQ ======================================================================================== */
.accordion{
    padding-top: 5vh;
    padding-left: 25vw;
    padding-right: 25vw;
}

.judulku h2{
    font-weight: bolder;
    padding-top: 10vh;
    width: 100%;
    text-align: center;
}

.accordion-button{
    font-weight: bold;
}

/* Page Paket =======================================================================================================================*/

#PaketLaundry #Paragraft{
    padding-top: 5vh;
    padding-left: 2vw;
}
#PaketLaundry #Barisan1{
    display: flex;
}
#PaketLaundry #Barisan1 #Paket1{
    display: flex;
}
#PaketLaundry #Barisan1 #Paket1 .Foto1 img{
    padding-top: 5vh;
    size: 40px;
}
#PaketLaundry #Barisan1 #Paket1 #PaketKomplit h2{
    padding-top: 5vh;
    padding-left: 3.5vw;
    font-family: Nunito;
    font-size: 25px;
    font-weight: Bold;
}
#PaketLaundry #Barisan1 #Paket1 #PaketKomplit h3{
    padding-left: 3.5vw;
    font-family: Nunito;
    font-size: 20px;
}
#PaketLaundry #Barisan1 #Paket1 #PaketKomplit #harga{
    display: flex;
    align-items: center;
    padding-top: 13vh;
}
#PaketLaundry #Barisan1 #Paket1 #PaketKomplit #harga h4{
    padding-left: 3.5vw;
    padding-right:2vw;
    font-family: Nunito;
    font-size: 20px;
}
#PaketLaundry #Barisan1 #Paket1 #PaketKomplit #harga #button{
    height: 50px;
    background: #18a4fc;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    padding: 5px 2vh;
    border-radius: 6px;
    border: 2px solid #18a4fc;
    transition: all 0.3s ease;
    cursor: pointer;
}
#PaketLaundry #Barisan1 #Paket2{
    display: flex;
}
#PaketLaundry #Barisan1 #Paket2 .Foto2 img{
    padding-top: 5vh;
    padding-left: 5vw;
    size: 40px;
}
#PaketLaundry #Barisan1 #Paket2 #PaketSepatu h2{
    padding-top: 5vh;
    font-family: Nunito;
    font-size: 25px;
    font-weight: Bold;
}
#PaketLaundry #Barisan1 #Paket2 #PaketSepatu h3{
    font-family: Nunito;
    font-size: 20px;
}
#PaketLaundry #Barisan1 #Paket2 #PaketSepatu #harga{
    display: flex;
    align-items: center;
    padding-top: 5vh;
}
#PaketLaundry #Barisan1 #Paket2 #PaketSepatu #harga h4{
    padding-right:2vw;
    font-family: Nunito;
    font-size: 20px;
}
#PaketLaundry #Barisan1 #Paket2 #PaketSepatu #harga #button{
    height: 50px;
    background: #18a4fc;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    padding: 5px 2vh;
    border-radius: 6px;
    border: 2px solid #18a4fc;
    transition: all 0.3s ease;
    cursor: pointer;
}
#PaketLaundry #Barisan2{
    padding-top: 5vh;
    display: flex;
}
#PaketLaundry #Barisan2 #Paket3{
    display: flex;
}
#PaketLaundry #Barisan2 #Paket3 .Foto3 img{
    padding-top: 5vh;
    size: 40px;
}
#PaketLaundry #Barisan2 #Paket3 #PaketBed h2{
    padding-top: 5vh;
    padding-left: 2vw;
    font-family: Nunito;
    font-size: 25px;
    font-weight: Bold;
}
#PaketLaundry #Barisan2 #Paket3 #PaketBed h3{
    padding-left: 2vw;
    font-family: Nunito;
    font-size: 20px;
}
#PaketLaundry #Barisan2 #Paket3 #PaketBed #harga{
    display: flex;
    align-items: center;
    padding-top: 13vh;
}
#PaketLaundry #Barisan2 #Paket3 #PaketBed #harga h4{
    padding-left: 2vw;
    padding-right:2vw;
    font-family: Nunito;
    font-size: 20px;
}
#PaketLaundry #Barisan2 #Paket3 #PaketBed #harga #button{
    height: 50px;
    background: #18a4fc;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    padding: 5px 2vh;
    border-radius: 6px;
    border: 2px solid #18a4fc;
    transition: all 0.3s ease;
    cursor: pointer;
}
#PaketLaundry #Barisan2 #Paket4{
    display: flex;
}
#PaketLaundry #Barisan2 #Paket4 .Foto4 img{
    padding-top: 5vh;
    size: 40px;
}
#PaketLaundry #Barisan2 #Paket4 #PaketFormal h2{
    padding-top: 5vh;
    padding-left: 2vw;
    font-family: Nunito;
    font-size: 25px;
    font-weight: Bold;
}
#PaketLaundry #Barisan2 #Paket4 #PaketFormal h3{
    padding-left: 2vw;
    font-family: Nunito;
    font-size: 20px;
}
#PaketLaundry #Barisan2 #Paket4 #PaketFormal #harga{
    display: flex;
    align-items: center;
    padding-top: 5vh;
}
#PaketLaundry #Barisan2 #Paket4 #PaketFormal #harga h4{
    padding-left: 2vw;
    padding-right:2vw;
    font-family: Nunito;
    font-size: 20px;
}
#PaketLaundry #Barisan2 #Paket4 #PaketFormal #harga #button{
    height: 50px;
    background: #18a4fc;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    padding: 5px 2vh;
    border-radius: 6px;
    border: 2px solid #18a4fc;
    transition: all 0.3s ease;
    cursor: pointer;
}

/*PAGE TENTANG KAMI =======================================================================================*/

.judul-tentangkami {
    padding-left: 3vw;
}

.judul-tentangkami h5{
    padding-left: 4vw;
    padding-right: 50vw;
    text-align: justify;
    font-size: 16px;
    margin-top: 3vh;
    margin-bottom: -15vh;
}

.judul-tentangkami h1{
    font-weight: bold;
    padding-left: 4vw;
    padding-top: 2vw;
}

.Container{
    height: 0px;
}

.Container .gambartentangkami{
    width: 450px;
    height: 350px;
    margin-left: 60vw;
    margin-top: -30vh;
}

.button-tentangkami-FAQ{
    display: inline-block;
    background: #18a4fc;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    padding: 8px 38px;
    margin-top: 20px;
    border-radius: 7px;
    border: 2px solid #18a4fc;
    transition: all 0.3s ease;
    margin-left: 7vw;
    margin-top: 33vh;
}

.button-tentangkami-FAQ a:hover{
    color: #18a4fc;
    background: none;
}

.havemore h6{
    padding-left: 7vw;
    margin-top: 3vh;
}

.button-tentangkami-contactus{
    display: inline-block;
    background: #18a4fc;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    padding: 8px 15px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid #18a4fc;
    transition: all 0.3s ease;
    margin-left: 7vw;
}

.button-tentangkami-contactus a:hover{
    color: #18a4fc;
    background: none;
}

/* MEMBERSHIP =============================================================================================== */
/* platinum card animation on hover */
#container{
    width: 400px;
    height: 240px;
}
#card{
    --x-pos:0;
    --y-pos:0;
    transition: 1s;
}
#card:hover{
    --x-pos: 0;
    --y-angle: calc(var(--x-pos) * 7deg);

    --y-pos: 0;
    --x-angle: calc(var(--y-pos) * 7deg);

    transform:
        perspective(200px)
        rotateX(var(--x-angle))
        rotateY(var(--y-angle));
    transition: 0.1s;
}
/* silver card animation on hover */
#container2{
    width: 400px;
    height: 240px;
}
#card2{
    --x2-pos:0;
    --y2-pos:0;
    transition: 1s;
}
#card2:hover{
    --x2-pos: 0;
    --y2-angle: calc(var(--x2-pos) * 7deg);

    --y2-pos: 0;
    --x2-angle: calc(var(--y2-pos) * 7deg);

    transform:
        perspective(200px)
        rotateX(var(--x2-angle))
        rotateY(var(--y2-angle));
    transition: 0.1s;
}
/* atur lokasi dan text*/
#membership{
    display: flex;
    flex-direction: row;
    margin-left: 14vw;
}
#platinumDesc{
    width: 45%;
}
#silverDesc{
    width: 45%;
}
#membership h6{
    font-weight: bold;
    font-size: 24px;
    padding-top: 4vh;
}
#membership p{
    font-size: 16px;
}
/* Login =============================================================================================== */
#login{
    padding-top: 150px;
    display: flex;
}
#imageLogin img{
    padding-left: 300px;
    width: 90%;
}

#login .form{
    margin-top: 40vh;
}

#login .btn{
    margin-left: 6.1vw;
    padding: 0.375rem 3.75rem;
}

#login .box-login{
    margin-top: 15vh;
    margin-left: 7vw;
}

#login .col-sm-10{
    padding-right: 10vw;
}

#login .form-control{
    padding: 0.5vh;
    padding-right: 6vw;
    border: 2px solid #18a4fc;
    border-radius: 0.6rem;
}

#login .col-form-label{
    font-family: Nunito;
    font-weight: bold;
}
button, input, optgroup, select, textarea {
    font-family: Nunito;
}
#login .btn-primary{
    background-color: #18a4fc;
    font-weight: bold;
    border-color: #18a4fc;
}

/* Sign Up =============================================================================================== */
#recovery{
    padding-top: 150px;
    display: flex;
}
#recovery #image{
    width: 50px;
    padding-left: 350px;
}

/* Recovery =============================================================================================== */
#signup{
    padding-top: 150px;
    display: flex;
}
#signup #image{
    width: 50px;
    padding-left: 350px;
}

/* Recoverysend =============================================================================================== */
#recoverysend{
    padding-top: 150px;
    display: flex;
}
#recoverysend #image{
    width: 50px;
    padding-left: 350px;
}
/* Requestsend =============================================================================================== */
#requestsend{
    padding-top: 120px;
    display: flex;
}
#requestsend #paragraft h1{
    padding-left: 130px;
    font-size: 24px;
    font-weight: bolder;
}
#requestsend #paragraft h2{
    padding-left: 130px;
    font-size: 18px;
    font-weight: bold;
}
#requestsend #paragraft h2 li{
    padding-left: 20px;
    font-size: 18px;
    font-weight: bold;
}
#requestsend #paragraft2 #permintaan{
    display: flex;
    flex-direction: row;
}#requestsend #paragraft2 #permintaan #border {
    z-index: -1;
}
#requestsend #paragraft2 #permintaan h1{
    padding-top: 10px;
    padding-left: 200px;
    font-size: 24px;
    font-weight: bold;
}
#requestsend #paragraft2 h2{
    padding-left: 200px;
    font-size: 18px;
}
