*{
    margin : 0;
    padding : 0;
    font-family: Nunito;
}
/* NAVBARRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRR */
/* styling navbar */
#sectionNavbar{
    height: 15vh;
    /* background-color: pink; */
    z-index: -1;
    /* position: absolute;
    right: 0; */
}
.logo{
    margin-left: 4px;
    size: 200px;
}
.navbar{
    position: relative;
    width: 100%;
    z-index: 0;
    transition: all 0.3s ease;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .menu li{
    position: relative;
    left: 45vw;
    list-style: none;
    display: inline-block;
    /* float: left; */
}
.navbar .menu li a{
    display: block;
    color :#222222;
    opacity: 50%;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
    text-decoration: none;
    font-weight: bold;
}
.navbar .menu li a:hover{
    color:  #18a4fc;
    opacity: 100%;
}
.navbar.sticky .menu li a:hover{
    color :#70828d;
    transition: all 0.3s ease;
    opacity: 50%;
}
/*MASUK DAFTAR di navbar*/
section#sectionNavbar .navbar #buttonMasuk a{
    display: inline-block;
    background: #18a4fc;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    padding: 5px 2vh;
    border-radius: 6px;
    border: 2px solid #18a4fc;
    transition: all 0.3s ease;
}
section#sectionNavbar .navbar #buttonDaftar a{
    display: inline-block;
    background: #18a4fc;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    padding: 5px 2vh;
    border-radius: 6px;
    border: 2px solid #18a4fc;
    transition: all 0.3s ease;
    margin-left: 2px;
}
/* USER DROPDOWNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN */
.itemdropdown{
    position: absolute;
    top: 20px;
    right: 30px
}
.itemdropdown .profile{
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}
.itemdropdown .profile img{
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 80%;
    object-fit: cover;
}
.itemdropdown .menu-profile{
    position: absolute;
    top: 50px;
    right: 0px;
    padding: 10px 20px;
    background: whitesmoke;
    width: 200px;
    box-sizing: 0 5px 25px rgba(0,0,0,0.1) ;
    border-radius: 15px;
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
    z-index: 2;
    border: none;
}
.itemdropdown .menu-profile.active{
    top: 80px;
    visibility: visible;
    opacity: 1;
    z-index: 2;
    border: none;
}
.itemdropdown .menu-profile::before{
    content:'';
    position: absolute;
    top: -5px;
    right: 28px;
    width: 20px;
    height: 20px;
    background: whitesmoke;
    transform: rotate(45deg);
}
.itemdropdown .menu-profile h3{
    width: 100%;
    text-align: center;
    font-size: 18px;
    padding: 20px 0;
    font-weight:500;
    font-size: 20px;
    color: #555;
    line-height: 1.5em;
    font-weight: bold;
}
.itemdropdown .menu-profile h3 span{
    font-size: 14px;
    color: #cecece;
    font-weight: 400;
}
.itemdropdown .menu-profile ul li{
    list-style: none;
    padding: 10px 0;
    /* border-top: 1px solid rgba(2px,0,0,0.05); */
    direction: flex;
    align-items: center;
    justify-content: center;
}
.itemdropdown .menu-profile ul li img{
    max-width: 25px;
    margin-left: -20px;
    opacity: 0.5;
    transition: 0.5s;
}
.itemdropdown .menu-profile ul li:hover img{
    opacity: 1;
}
.itemdropdown .menu-profile ul li a{
    display: inline-block;
    text-decoration: none;
    color: #555;
    font-weight: 500;
    transition: 0.5s;
    font-size: 18px;
    font-weight: bold;
    margin-left: 15px;
}
.itemdropdown .menu-profile ul li:hover a{
    color: #18a4fc;
}
/* CONTENTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT */
/* isi webpage */
#webContent{
    /* background-color: gray; */
    width: 100%;
}
/* FOOTERRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRR */
/* styling footer */
#sectionFooter{
    height: 20vh;
    width: 100%;
}
#sectionFooter hr{
    color: #18a4fc;
    height: 2px;
}
footer a{
    display: block;
    color :#222222;
    opacity: 50%;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
    text-decoration: none;
    font-weight: bold;
    transform: translate(0,100%);
}
footer h6{
    display: block;
    color :#222222;
    opacity: 50%;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
    text-decoration: none;
    font-weight: bold;
    transform: translate(0,100%);
    margin-top: 8px;
}
footer p{
    color: Black;
    text-decoration: none;
    padding-left: 35px;
    transform: translate(0,-110%);
}
footer p:hover{
    text-decoration: none;
}
/* HOMEEEEEEEEEEEEEEEEEEEEEEEEEE HOME HOME HOME EEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEE */
/* gambar di atas */
section#homeLanding img{
    width: 50%;
    float: right;
    padding-right: 100px;
}
section#homeLanding h1{
    font-weight: bold;
    width: 50%;
    font-size: 54px;
    float: left;
    padding-top: 5vh;
    padding-left: 110px;
}
section#homeLanding p{
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
    margin-left: 110px;
}
/* button */
section #homeLanding #button #laundryNow{
    padding-left: 111px;
}
section #homeLanding #button a{
    display: inline-block;
    background: #18a4fc;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid #18a4fc;
    transition: all 0.3s ease;
    cursor: pointer;
    text-decoration: none;
}
section #homeLanding #button a:hover{
    color: #18a4fc;
    background: none;
}
/* Gimana sih cara laundry disini? */
section#howTo h6{
    color: #222222;
    font-family: Nunito;
    font-weight: Bold;
    font-size: 36px;
    opacity: 1;
    text-align: center;
    padding-top: 100px;
    position: relative;
}
div.gallery {
    /* margin: 2px; */
    margin-left: 4%;
    display: flex;
    flex-direction: column;
    float: left;
    width: 15%;
    color: #222222;
}
div.title {
    padding: 15px;
    text-align: center;
    font-size: 24px;
    font-weight: bolder;
}
div.desc {
    text-align: center;
    font-size: 18px;
}
section #howTo #button #pesanSekarang{
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
}
/* kenapa laundry disini? */
section#Why h6{
    color: #222222;
    font-family: Nunito;
    font-weight: Bold;
    font-size: 36px;
    opacity: 1;
    text-align: center;
    padding-top: 100px;
}
div.icon {
    padding-top: 50px;
    float: left;
    width: 25%;
    margin-left: -18px;
}
div.descWhy {
    padding-top: 15vh;
    padding-left: 85px;
    text-align: center;
    font-size: 18px;
}
/* Diatas footer. button paket dan membership */
#paketDanMember{
    padding-top: 100px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    padding-left: 50px;
}
#diskon{
    height: 108px;
    width: 290px;
    top: 70px;
    position: relative;
}
#iron{
    width: 287px;
    height: 265px;
}
#iconMember, #iconPaket{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-evenly;
    padding-left: 0px;
    font-weight: bold;
    font-size: 32px;
}
#membership #button a{
    display: inline-block;
    background: #18a4fc;
    color: #fff;
    font-weight: bold;
    font-size: 17px;
    padding: 5px 20px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid #18a4fc;
    transition: all 0.3s ease;
    cursor: pointer;
    text-decoration: none;
}
#membership #button a:hover{
    color: #18a4fc;
    background: none;
}
#buttonDanHargaPlat{
    display: flex;
    flex-direction: row;
}
#buttonDanHargaSilv{
    display: flex;
    flex-direction: row;
}
#hargaPlat{
    font-weight: bolder;
    padding-top: 27px;
    padding-left: 20px;
}
#hargaSilv{
    font-weight: bolder;
    padding-top: 27px;
    padding-left: 20px;
}
/* FAQ FAQ FAQ FAQ FAQ ======================================================================================== */
#faq{
    display: flex;
    flex-direction: column;
}
#faq .judulku{
    margin-left: 42vw;
    margin-right: 20vw;
    margin-top: 3vh;
}
#faq .accordion{
    margin-left: 20vw;
    margin-right: 20vw;
    margin-top: 5vh;
    overflow: hidden;
}
#faq .accordion-item {
    border: none;
}
#faq .accordion-button:not(.collapsed) {
    color: black;
    background-color: white;
    box-shadow: none;
}
#faq h2{
    font-weight: bolder;
}
#faq h6{
    font-weight: bolder;
}
#faq .accordion-button:focus{
    box-shadow: none;
}
/* Page Paket =======================================================================================================================*/
#PaketLaundry{
    margin-left: 3.5vw;
}

#PaketLaundry #Paragraft{
    padding-top: 5vh;
    padding-left: 2vw;
}
#PaketLaundry #Paragraft h1{
    font-weight: bolder;
}
#PaketLaundry #Barisan1{
    display: flex;
}
#PaketLaundry #Barisan1 #Paket1{
    display: flex;
}
#PaketLaundry #Barisan1 #Paket1 .Foto1 img{
    padding-top: 5vh;
    size: 40px;
}
#PaketLaundry #Barisan1 #Paket1 #PaketKomplit h2{
    padding-top: 5vh;
    padding-left: 3.5vw;
    font-family: Nunito;
    font-size: 25px;
    font-weight: Bold;
}
#PaketLaundry #Barisan1 #Paket1 #PaketKomplit h3{
    padding-left: 3.5vw;
    font-family: Nunito;
    font-size: 20px;
}
#PaketLaundry #Barisan1 #Paket1 #PaketKomplit #harga{
    display: flex;
    align-items: center;
    padding-top: 13vh;
}
#PaketLaundry #Barisan1 #Paket1 #PaketKomplit #harga h4{
    padding-left: 3.5vw;
    padding-right:2vw;
    font-family: Nunito;
    font-size: 20px;
}
#PaketLaundry #Barisan1 #Paket1 #PaketKomplit #harga #button a{
    height: 50px;
    background: #18a4fc;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    padding: 5px 2vh;
    border-radius: 6px;
    border: 2px solid #18a4fc;
    transition: all 0.3s ease;
    cursor: pointer;
    text-decoration: none;
}
#PaketLaundry #Barisan1 #Paket1 #PaketKomplit #harga #button a:hover{
    color: #18a4fc;
    background: none;
}
#PaketLaundry #Barisan1 #Paket2{
    display: flex;
}
#PaketLaundry #Barisan1 #Paket2 .Foto2 img{
    padding-top: 5vh;
    padding-left: 5vw;
    size: 40px;
}
#PaketLaundry #Barisan1 #Paket2 #PaketSepatu h2{
    padding-top: 5vh;
    font-family: Nunito;
    font-size: 25px;
    font-weight: Bold;
}
#PaketLaundry #Barisan1 #Paket2 #PaketSepatu h3{
    font-family: Nunito;
    font-size: 20px;
}
#PaketLaundry #Barisan1 #Paket2 #PaketSepatu #harga{
    display: flex;
    align-items: center;
    padding-top: 9vh;
}
#PaketLaundry #Barisan1 #Paket2 #PaketSepatu #harga h4{
    padding-right:2vw;
    font-family: Nunito;
    font-size: 20px;
}
#PaketLaundry #Barisan1 #Paket2 #PaketSepatu #harga #button a{
    height: 50px;
    background: #18a4fc;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    padding: 5px 2vh;
    border-radius: 6px;
    border: 2px solid #18a4fc;
    transition: all 0.3s ease;
    cursor: pointer;
    text-decoration: none;
}
#PaketLaundry #Barisan1 #Paket2 #PaketSepatu #harga #button a:hover{
    color: #18a4fc;
    background: none;
}
#PaketLaundry #Barisan2{
    padding-top: 5vh;
    display: flex;
}
#PaketLaundry #Barisan2 #Paket3{
    display: flex;
}
#PaketLaundry #Barisan2 #Paket3 .Foto3 img{
    padding-top: 5vh;
    size: 40px;
}
#PaketLaundry #Barisan2 #Paket3 #PaketBed h2{
    padding-top: 5vh;
    padding-left: 2vw;
    font-family: Nunito;
    font-size: 25px;
    font-weight: Bold;
}
#PaketLaundry #Barisan2 #Paket3 #PaketBed h3{
    padding-left: 2vw;
    font-family: Nunito;
    font-size: 20px;
}
#PaketLaundry #Barisan2 #Paket3 #PaketBed #harga{
    display: flex;
    align-items: center;
    padding-top: 13vh;
}
#PaketLaundry #Barisan2 #Paket3 #PaketBed #harga h4{
    padding-left: 2vw;
    padding-right:2vw;
    font-family: Nunito;
    font-size: 20px;
}
#PaketLaundry #Barisan2 #Paket3 #PaketBed #harga #button a{
    height: 50px;
    background: #18a4fc;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    padding: 5px 2vh;
    border-radius: 6px;
    border: 2px solid #18a4fc;
    transition: all 0.3s ease;
    cursor: pointer;
    text-decoration: none;
}
#PaketLaundry #Barisan2 #Paket3 #PaketBed #harga #button a:hover{
    color: #18a4fc;
    background: none;
}
#PaketLaundry #Barisan2 #Paket4{
    display: flex;
}
#PaketLaundry #Barisan2 #Paket4 .Foto4 img{
    padding-top: 5vh;
    size: 40px;
}
#PaketLaundry #Barisan2 #Paket4 #PaketFormal h2{
    padding-top: 5vh;
    padding-left: 2vw;
    font-family: Nunito;
    font-size: 25px;
    font-weight: Bold;
}
#PaketLaundry #Barisan2 #Paket4 #PaketFormal h3{
    padding-left: 2vw;
    font-family: Nunito;
    font-size: 20px;
}
#PaketLaundry #Barisan2 #Paket4 #PaketFormal #harga{
    display: flex;
    align-items: center;
    padding-top: 5vh;
}
#PaketLaundry #Barisan2 #Paket4 #PaketFormal #harga h4{
    padding-left: 2vw;
    padding-right:2vw;
    font-family: Nunito;
    font-size: 20px;
}
#PaketLaundry #Barisan2 #Paket4 #PaketFormal #harga #button a{
    height: 50px;
    background: #18a4fc;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    padding: 5px 2vh;
    border-radius: 6px;
    border: 2px solid #18a4fc;
    transition: all 0.3s ease;
    cursor: pointer;
    text-decoration: none;
}
#PaketLaundry #Barisan2 #Paket4 #PaketFormal #harga #button a:hover{
    color: #18a4fc;
    background: none;
}
/*PAGE TENTANG KAMI =======================================================================================*/
.judul-tentangkami {
    padding-left: 3vw;

}
.judul-tentangkami h5{
    padding-left: 4vw;
    padding-right: 50vw;
    text-align: justify;
    font-size: 16px;
    margin-top: 3vh;
    margin-bottom: -15vh;
}
.judul-tentangkami h1{
    font-weight: bold;
    padding-left: 4vw;
    padding-top: 2vw;
}
.Container{
    height: 0px;
}
.Container .gambartentangkami{
    width: 450px;
    height: 350px;
    margin-left: 60vw;
    margin-top: -30vh;
}
.button-tentangkami-FAQ a{
    display: inline-block;
    background: #18a4fc;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    padding: 8px 38px;
    margin-top: 20px;
    border-radius: 7px;
    border: 2px solid #18a4fc;
    transition: all 0.3s ease;
    margin-left: 7vw;
    margin-top: 33vh;
    cursor: pointer;
    text-decoration: none;
}
.button-tentangkami-FAQ a:hover{
    color: #18a4fc;
    background: none;
}
.havemore h6{
    padding-left: 7vw;
    margin-top: 3vh;
}
.button-tentangkami-contactus a{
    display: inline-block;
    background: #18a4fc;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    padding: 8px 15px;
    margin-top: 20px;
    margin-bottom: 60px;
    border-radius: 6px;
    border: 2px solid #18a4fc;
    transition: all 0.3s ease;
    margin-left: 7vw;
    cursor: pointer;
    text-decoration: none;
}
.button-tentangkami-contactus a:hover{
    color: #18a4fc;
    background: none;
}

/* MEMBERSHIP =============================================================================================== */
/* platinum card animation on hover */
#container{
    width: 400px;
    height: 240px;
}
#card{
    --x-pos:0;
    --y-pos:0;
    transition: 1s;
}
#card:hover{
    --x-pos: 0;
    --y-angle: calc(var(--x-pos) * 5deg);

    --y-pos: 0;
    --x-angle: calc(var(--y-pos) * 5deg);

    transform:
        perspective(200px)
        rotateX(var(--x-angle))
        rotateY(var(--y-angle));
    transition: 0.1s;
}
/* silver card animation on hover */
#container2{
    width: 400px;
    height: 240px;
}
#card2{
    --x2-pos:0;
    --y2-pos:0;
    transition: 1s;
}
#card2:hover{
    --x2-pos: 0;
    --y2-angle: calc(var(--x2-pos) * 5deg);

    --y2-pos: 0;
    --x2-angle: calc(var(--y2-pos) * 5deg);

    transform:
        perspective(200px)
        rotateX(var(--x2-angle))
        rotateY(var(--y2-angle));
    transition: 0.1s;
}
/* atur lokasi dan text*/
#membership{
    display: flex;
    flex-direction: row;
    margin-left: 14vw;
}
#platinumDesc{
    width: 45%;
}
#silverDesc{
    width: 45%;
}
#membership h6{
    font-weight: bold;
    font-size: 24px;
    padding-top: 4vh;
}
#membership p{
    font-size: 16px;
}
/* Login =============================================================================================== */
#login{
    padding-top: 150px;
    display: flex;
}
#imageLogin img{

    padding-left: 300px;
    width: 90%;
}
#login .btn{
    margin-left: 6.1vw;
    padding: 0.375rem 3.75rem;
    border-radius: 0.6rem;
}
#login .box-login{
    margin-top: 8vh;
    margin-left: 7vw;
}
#login .col-sm-10{
    padding-right: 10vw;
}
#login .form-control{
    padding: 0.5vh;
    padding-right: 6vw;
    border: 2px solid #18a4fc;
    border-radius: 0.6rem;
    box-shadow: none;
}
#login .col-form-label{
    font-family: Nunito;
    font-weight: bold;
}
button, input, optgroup, select, textarea {
    font-family: Nunito;
}
#login .btn-primary{
    background-color: #18a4fc;
    font-weight: bold;
    border-color: #18a4fc;
    border: 2px solid #18a4fc;
}
#login .btn-primary:hover{
    color: #18a4fc;
    background: none;
}
#login .box-login .box-akun{
    padding-top: 2vh;
    padding-left: 6vw;
}
#login .box-login .box-akun a{
    text-decoration-color: black;
    color: black;
}
#login .form-check-input:checked {
    background-color: #18a4fc;
    border-color: #18a4fc;
    box-shadow: none;
}
#login .form-check-input{
    box-shadow: none;
}
#login .form-check{
    margin-bottom: 1vh;
}
#login .field-icon {
    float: right;
    margin-left: -25px;
    margin-top: -25px;
    position: relative;
    z-index: 2;
}
#login form i {
    margin-left: 270px;
    cursor: pointer;
    display: flex;
    margin-top: -25px;
}
.alertalert-successalert-block {
    padding: 20px;
    background-color: #4ae257cc;
    color: rgb(36, 102, 52);
}
.alertalert-successalert-block .button {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  .alertalert-dangeralert-dismissiblefadeshow{
    padding: 20px;
    background-color: #eb2a2acc;
    color: white;
  }
  .alertalert-dangeralert-dismissiblefadeshow .button {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
/* Recovery =============================================================================================== */
#recovery{
    padding-top: 150px;
    display: flex;
}
#recovery img{
    padding-left: 300px;
    width: 90%;
}
#recovery .btn{
    margin-left: 5.8vw;
    padding: 0.375rem 3.75rem;
    border-radius: 0.6rem;
}
#recovery .box-login{
    margin-top: 12vh;
    margin-left: 7vw;
}
#recovery .col-sm-10{
    padding-right: 10vw;
}
#recovery .form-control{
    padding: 0.5vh;
    padding-right: 6vw;
    border: 2px solid #18a4fc;
    border-radius: 0.6rem;
    box-shadow: none;
}
#recovery .btn-primary:hover{
    color: #18a4fc;
    background: none;
}
#recovery .col-form-label{
    font-family: Nunito;
    font-weight: bold;
}
button, input, optgroup, select, textarea {
    font-family: Nunito;
}
#recovery .btn-primary{
    background-color: #18a4fc;
    font-weight: bold;
    border-color: #18a4fc;
    border: 2px solid #18a4fc;
}
#recovery .box-login .box-akun{
    padding-top: 2vh;
    padding-left: 6vw;
}
#recovery .box-login .box-akun span{
    text-decoration: underline;
}
#recovery .text-recovery{
    padding-left: 5.6vw;
    padding-bottom: 2vh;
}
#recovery .box-login .box-akun a{
    text-decoration-color: black;
    color: black;
}
/* Sign Up =============================================================================================== */
#signup{
    padding-top: 150px;
    display: flex;
}
#signup img{
    padding-left: 300px;
    width: 90%;
}
#signup .btn{
    margin-left: 6.1vw;
    padding: 0.375rem 3.75rem;
    border-radius: 0.6rem;
}
#signup .box-login{
    margin-top: 8vh;
    margin-left: 7vw;
}
#signup .col-sm-10{
    padding-right: 10vw;
}
#signup .form-control{
    padding: 0.5vh;
    padding-right: 6vw;
    border: 2px solid #18a4fc;
    border-radius: 0.6rem;
    box-shadow: none;
}
#signup .col-form-label{
    font-family: Nunito;
    font-weight: bold;
}
button, input, optgroup, select, textarea {
    font-family: Nunito;
}
#signup .btn-primary{
    background-color: #18a4fc;
    font-weight: bold;
    border-color: #18a4fc;
    border: 2px solid #18a4fc;
}
#signup .btn-primary:hover{
    color: #18a4fc;
    background: none;
}
#signup .box-login .box-akun{
    padding-top: 2vh;
    padding-left: 6vw;
}
#signup .box-login .box-akun h6{
    color: black;
}

#signup .box-login .box-akun a{
    text-decoration-color: black;
    color: black;
}
#signup form i {
    margin-left: 270px;
    cursor: pointer;
    display: flex;
    margin-top: -25px;
}
.alertalert-dangeralert-block{
    padding: 20px;
    background-color: #eb2a2acc;
    color: white;
}
.alertalert-dangeralert-dismissiblefadeshow .button {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}
/* Recoverysend =============================================================================================== */
#recoverysend{
    padding-top: 150px;
    display: flex;
}
#recoverysend img{
    padding-left: 300px;
    width: 50%;
}
#recoverysend #text h1{
    font-size: 24px;
    font-weight: bold;
    padding-top: 50px;
    padding-left: 200px;
    font-family: Nunito;
}
#recoverysend #text h2{
    font-size: 24px;
    padding-top: 30px;
    padding-left: 200px;
    font-family: Nunito;
    font-weight: 400;
}
#recoverysend #text h3{
    font-size: 24px;
    padding-left: 200px;
    font-style: normal;
    font-family: Nunito;
    font-weight: 400;
}
#recoverysend #text #button a{
    display: inline-block;
    background: #18a4fc;
    color: #fff;
    font-weight: bold;
    font-size: 17px;
    padding: 5px 20px;
    margin-top: 20px;
    margin-left: 200px;
    border-radius: 6px;
    border: 2px solid #18a4fc;
    transition: all 0.3s ease;
    font-family: Nunito;
    text-decoration: none;
    cursor: pointer;
}
#recoverysend #text #button a:hover{
    color: #18a4fc;
    background: none;
}
#recoverysend #text{
    margin-left: -6vw;
    margin-top: 5vh;
}
/* Requestsend =============================================================================================== */
#requestsend{
    padding-top: 100px;
    display: flex;
    height: 500px;
}
#requestsend #paragraft h1{
    padding-top: 40px;
    padding-left: 51px;
    font-size: 24px;
    font-weight: bolder;
    font-family: Nunito;
    margin-bottom: 2.5vh;
}
#requestsend #paragraft h2{
    padding-left: 50px;
    font-size: 18px;
    font-weight: bold;
    font-family: Nunito;
}
#requestsend #paragraft h2 li{
    padding-left: 20px;
    font-size: 18px;
    font-weight: bold;
    font-family: Nunito;
}
#requestsend #paragraft2 #border img{
    z-index: -1;
    position: absolute;
    width: 45%;
    padding-left: 50px;
    font-family: Nunito;
    margin-left: 3vw;
}
#requestsend #paragraft2 #permintaan{
    display: flex;
    flex-direction: row;
    margin-left: 400px;
    margin-top: 15px;
    font-family: Nunito;
}
#requestsend #paragraft2 #permintaan h1{
    padding-left: 250px;
    font-size: 24px;
    font-weight: bold;
    position: absolute;
    top: 34%;
    left: 36%;
    font-family: Nunito;
}
#requestsend #paragraft2 h2{
    padding-top: 50px;
    padding-left: 250px;
    font-size: 18px;
    position: absolute;
    top: 34%;
    left: 36%;
    font-family: Nunito;
}
#requestsend #paragraft2 h3{
    padding-left: 250px;
    font-size: 18px;
    position: absolute;
    top: 44.6%;
    left: 36%;
    font-family: Nunito;
}
#requestsend #paragraft2 h4{
    padding-left: 250px;
    font-size: 18px;
    position: absolute;
    top: 48%;
    left: 36%;
    font-family: Nunito;
}
#requestsend #paragraft2 #button #ok a{
    display: inline-block;
    background: #18a4fc;
    color: #fff;
    font-weight: bold;
    font-size: 17px;
    padding: 5px 50px;
    margin-top: 145px;
    margin-left: 350px;
    border-radius: 6px;
    border: 2px solid #18a4fc;
    transition: all 0.3s ease;
    text-decoration:none;
}
#requestsend #paragraft2 #button #ok a:hover{
    color: #18a4fc;
    background: none;
}
#requestsend #paragraft2 #permintaan #image img{
    margin-left: 4.5vw;
    margin-top: 3vh;
}
/* updateprofil =============================================================================================== */
#profil {
    display:flex;
    justify-content: space-between;
}
#profil #button {
    display:flex;
}
#profil h1{
    margin-top: 20px;
    margin-left: 50px;
    font-family: Nunito;
    font-weight: bold;
}
#profil #button #batal{
    display: inline-block;
    background: #18a4fc;
    color: #fff;
    font-weight: bold;
    font-size: 17px;
    padding: 5px 50px;
    margin-top: 20px;
    margin-left: 50px;
    border-radius: 6px;
    border: 2px solid #18a4fc;
    transition: all 0.3s ease;
}
#profil #button #batal:hover{
    color: #18a4fc;
    background: none;
}
#profil #button #simpan{
    display: inline-block;
    background: #18a4fc;
    color: #fff;
    font-weight: bold;
    font-size: 17px;
    padding: 5px 35px;
    margin-top: 20px;
    margin-left: 47px;
    border-radius: 6px;
    border: 2px solid #18a4fc;
}
#profil #button #simpan:hover{
    color: #18a4fc;
    background: none;
}
#profil #memberupdate {
    display: flex;
}
#profil #memberupdate h3{
    margin-top: 35px;
    font-weight: bold;
    font-size: 17px;
    margin-right: 20px;
}
#profil #box-gambar #memberupdate #Perbarui a{
    display: inline-block;
    background: #18a4fc;
    color: #fff;
    font-weight: bold;
    font-size: 17px;
    padding: 5px 30px;
    margin-top: 25px;
    border-radius: 6px;
    border: 2px solid #18a4fc;
    text-decoration: none;
    color: white;
}
#profil #box-gambar #memberupdate #Perbarui a:hover{
    color: #18a4fc;
    background: none;
}
#profil .box-login{
    margin-top: 5vh;
    margin-left: 3vw;
    margin-right: -15vw;
}
#profil .form-control{
    padding: 0.5vh;
    padding-right: 6vw;
    border: 2px solid #18a4fc;
    border-radius: 0.6rem;
    box-shadow: none;
}
#profil.col-form-label{
    font-family: Nunito;
    font-weight: bold;
}
button, input, optgroup, select, textarea {
    font-family: Nunito;
}
#profil #imageupdateprofile img{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}
#profil #box-gambar{
    display: flex;
    flex-direction: column;
    margin-top: 5vh;
    margin-right: 20vw;
}
#profil #box-gambar #textmembership h5{
    font-family: Nunito;
    font-weight: bold;
}
#profil #box-gambar #textmembership h6{
    font-family: Nunito;
    font-weight: bold;
}
#profil .col-sm-2 {
    width: 100%;
}
#profil #box-gambar #memberupdate {
    margin-top: 1vh;
}
/* pickup =============================================================================================== */
#pickup{
    padding-top: 50px;
    display: flex;
    height: 500px;
}
#pickup #paragraft h1{
    padding-top: 80px;
    padding-left: 80px;
    font-size: 48px;
    font-weight: bolder;
}
#pickup #paragraft h2{
    padding-left: 80px;
    font-size: 18px;
    font-weight: bold;
}
#pickup #paragraft h2 li{
    padding-left: 20px;
    font-size: 18px;
    font-weight: bold;
}
#pickup #paragraft2 #border img{
    z-index: -1;
    position: absolute;
    width: 70%;
    padding-left: 350px;
}
#pickup #paragraft2 #permintaan{
    display: flex;
    flex-direction: row;
    margin-left: 570px;
    margin-top: 65px;
}
#pickup #paragraft2 h1{
    padding-left: 100px;
    font-size: 24px;
    font-weight: bold;
    position: absolute;
    left: 45%;
    top: 30%;
}
#pickup #paragraft2 h2{
    padding-left: 50px;
    font-size: 18px;
    position: absolute;
    top: 40%;
    left: 48.5%;
    font-weight: bolder;
}
#pickup #paragraft2 h3{
    padding-left: 50px;
    font-size: 18px;
    position: absolute;
    top: 45%;
    left: 48.5%;
    font-weight: bolder;
}
#pickup .box-login{
    margin-top: 5vh;
    margin-left: 3vw;
    margin-right: -15vw;
}
#pickup .box-login-2{
    margin-left: 3vw;
    margin-right: -15vw;
}
#pickup .form-control{
    padding: 0.5vh;
    border: 2px solid #18a4fc;
    border-radius: 0.6rem;
    box-shadow: none;
}
#pickup.col-form-label{
    font-family: Nunito;
    font-weight: bold;
}
button, input, optgroup, select, textarea {
    font-family: Nunito;
}
#pickup .form-control2{
    padding: 0.5vh;
    padding-right: 10vw;
    border: 2px solid #18a4fc;
    border-radius: 0.6rem;
}
#pickup #paragraft h1{
    margin-top: -10vh;
    margin-left: -2.2vw;
    margin-bottom: -2vh;
}
#pickup #paragraft2 #button {
    background-color: #18a4fc;
    border: none;
    color: #fff;;
    border-radius: 8px;
    padding: 5px 250px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: -15px 12px;
    cursor: pointer;
    position: absolute;
    top: 60%;
    left: 50%;
}
#pickup #paragraft2 #button a{
    text-decoration: none;
    color: white;
}
#pickup #paragraft2 #button{
    display: flex;
    flex-direction: row;
}
#pickup #paragraft .box-login-2 .form-control{
    padding-bottom: 3vw;
}
#pickup #paragraft #buttonkiri a{
    display: inline-block;
    background: #18a4fc;
    color: white;
    font-weight: bold;
    font-size: 17px;
    padding: 5px 20px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid #18a4fc;
    transition: all 0.3s ease;
    margin-left: 3vw;
    text-decoration: none;
    color: white;
}
#pickup #paragraft #buttonkiri a:hover{
    color: #18a4fc;
    background: none;
}
#pickup #paragraft{
    margin-left: 1vw;
}
/* ini paymenttt ======================================================================================*/
#payment{
    display: flex;
    overflow-x: hidden;
}
#payment #paymentbox2{
    /* position: fixed; */
    margin-left: 4vw;
}
#payment #paymentbox1 h1{
    font-weight: bolder;
}
#payment #paymentbox2 #button{
    display: inline-block;
    background: #18a4fc;
    color: #fff;
    font-weight: bold;
    font-size: 17px;
    padding: 5px 20px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid #18a4fc;
    transition: all 0.3s ease;
    margin-left: 23vw;
}
#payment #paymentbox2 #button a {
    margin-left: 0.8vw;
}
#payment #bayar{
    padding-top: 3px;
}
#payment #paymentbox1 .kotak{
    align-items: center;
    border-radius: 10px;
    /* border: 4px solid #18a4fc; */
    width: 40vw;
    /* height: 180px; */
    padding: 20px;
    background-color: white;
    margin-top: 5vh;
    margin-left: 3vw;
    margin-right: 8vw;
}
#payment #paymentbox2 .kotak{
    align-items: center;
    border-radius: 10px;
    border: 4px solid #18a4fc;
    width: 40vw;
    height: 260px;
    padding: 20px;
    background-color: white;
    margin-top : 15.8vh;
    margin-bottom: 5vh;
}
#payment #paymentbox1 #paragraf2{
    margin-left: 3vw;
    margin-top: 1.5vh;
}
#payment #paymentbox1 h1{
    margin-left: 3vw;
    margin-top: 5vh;
}
#payment #paymentbox2 .kotak #button{
    display: flex;
    flex-direction: row;
}
#payment #paymentbox2 #paragraf2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 61.5vw;
}
#payment #paymentbox1 .kotak #paragraf h4 {
    font-weight: bolder;
    margin-bottom: 2.5vh;
    margin-top: -4vh;
}
#payment #paymentbox1 .kotak #paragraf h6 {
    font-weight: bolder;
}
#payment #paymentbox2 .kotak #paragraf1 h4 {
    font-weight: bolder;
}
#payment #paymentbox2 .kotak #paragraf1 h6 {
    font-weight: bolder;
}
#payment #paymentbox2 .kotak #paragraf2 h6 {
    font-weight: bolder;
}
#payment #paymentbox1 .kotak #paragraf #harga{
    display: flex;
}
#payment #paymentbox2 #button a{
    text-decoration: none;
    color: white;
}
#payment .pembayaran{
    position: absolute;
    left: -9999px;
}
input[type=radio]:checked + label>img {
    border: 1px solid #18a4fc;
    box-shadow: 0 0 1px 2px #18a4fc;
    border-radius: 7px;
}
input[type=radio] + label>img {
    width: 130px;
    height: 52px;
    transition: 0.1s all;
    margin-right: 1vw;
}
#payment #paymentbox1 .kotak #paragraf .aturtext h5{
    font-size: 18px;
    font-weight: bolder;
}
#payment #paymentbox1 .kotak #paragraf {
    margin-left: -1.2vw;
}
#payment #paymentbox1 .kotak #paragraf #kotakkanan{
    display: flex;
    width: 55vw;
}
#payment #paymentbox1 .kotak #paragraf .aturtext{
    margin-left: 1vw;
}
#payment #paymentbox1 .kotak #paragraf .aturtext #abu{
    margin-top: -2vh;
    margin-bottom: 0.5vh;
}
#payment #paymentbox1 .kotak #paragraf .aturtext #flexkanan{
    display: flex;
    justify-content: space-between;
    font-weight: bolder;
}
#payment #paymentbox1 .kotak #paragraf .aturtext #flexkanan h6{
    color: grey;
}
/* ini payment membership ============================================================================= */
#paymentmembership{
    display: flex;
}
#paymentmembership #paymentbox1 h1{
    font-weight: bolder;
}
#paymentmembership #paymentbox2 #button {
    display: inline-block;
    background: #18a4fc;
    color: #fff;
    font-weight: bold;
    font-size: 17px;
    padding: 5px 20px;
    margin-top: 50px;
    border-radius: 6px;
    border: 2px solid #18a4fc;
    margin-right: 0vw;
    margin-left: 23vw;
    cursor: pointer;
}
#paymentmembership #paymentbox2 #button a{
    text-decoration: none;
    color: white;
}
#paymentmembership #paymentbox1 .kotak{
    align-items: center;
    border-radius: 10px;
    border: 4px solid #18a4fc;
    width: 40vw;
    height: 150px;
    padding: 20px;
    background-color: white;
    margin-top: 5vh;
    margin-left: 3vw;
    margin-right: 8vw;
}
#paymentmembership #paymentbox2 .kotak{
    align-items: center;
    border-radius: 10px;
    border: 4px solid #18a4fc;
    width: 40vw;
    height: 350px;
    padding: 20px;
    background-color: white;
    margin-top : 15.8vh;
    margin-bottom: 5vh;
}
#paymentmembership #paymentbox1 #paragraf2{
    margin-left: 3vw;
    margin-top: 5vh;
}
#paymentmembership #paymentbox2 #paragraf2{
    display: flex;
}
#paymentmembership #paymentbox1 h1{
    margin-left: 3vw;
    margin-top: 5vh;
}
#paymentmembership #paymentbox2 .kotak #button{
    display: flex;
    flex-direction: row;
}
#paymentmembership #bayar{
    padding-top: 3px;
}
#paymentmembership #paymentbox2 #button a {
    margin-left: 0.8vw;
}
#paymentmembership #paymentbox1 .kotak #paragraf h4 {
    font-weight: bolder;
}
#paymentmembership #paymentbox1 .kotak #paragraf h6 {
    font-weight: bolder;
}
#paymentmembership #paymentbox2 .kotak #paragraf1 h4 {
    font-weight: bolder;
}
#paymentmembership #paymentbox2 .kotak #paragraf1 h6 {
    margin-top: 20px;
    font-weight: bolder;
}
#paymentmembership #paymentbox2 .kotak #paragraf2 h6 {
    margin-top: 15px;
    font-weight: bolder;
}
#paymentmembership #paymentbox2 .kotak #paragraf2 h2 {
    margin-top: 15px;
    font-weight: bolder;
    margin-left: 373px;
    font-size: 17px;
}
#paymentmembership .pembayaran{
    position: absolute;
    left: -9999px;
}
input[type=radio]:checked + label>img {
    border: 1px solid #18a4fc;
    box-shadow: 0 0 1px 2px #18a4fc;
    border-radius: 7px;
}
input[type=radio] + label>img {
    width: 130px;
    height: 52px;
    transition: 0.1s all;
    margin-right: 1vw;
}
#paymentmembership #paymentbox1 #card img{
    width: 100%;
    margin-left: 3vw;
    margin-top: 4vh;
}
#paymentmembership #paymentbox2{
    margin-left: 15vw;
}
/* laundryku ===========================================================================================*/
#accordionLaundryku {
    width: 65vw;
    margin-left: 17.5vw;
}
#accordionButton{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#accordionButton #button a{
    display: inline-block;
    background: #18a4fc;
    color: #fff;
    font-weight: bold;
    font-size: 17px;
    padding: 10px 20px;
    border-radius: 6px;
    border: 2px solid #18a4fc;
    transition: all 0.3s ease;
    cursor: pointer;
    text-decoration: none;
}
#accordionButton #button a:hover{
    color: #18a4fc;
    background: none;
}
#accordionLaundryku h2{
    font-weight: bolder;
}
#accordionLaundryku h6{
    font-weight: bold;
}
#accordionJudul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#accordionHarga{
    font-weight: bold;
    text-align: right;
}
.accordionL{
    align-items: center;
    border-radius: 10px;
    border: 2px solid #18a4fc;
    width: 65vw;
    height: 60px;
    padding: 20px;
    background-color: white;
}
.active, .accordionL:hover {
    border: 3px solid #18a4fc;
}
.accordionL:after {
    font-weight: bold;
    float: right;
    margin-left: 5px;
}
.panel {
    margin-top: 5px;
    padding: 0px 30px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    width: 65vw;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#statusL{
    display: flex;
    flex-direction: row;
    margin-top: -5px;
}
#statusLBold{
    font-weight: bold;
}
#tanggalL{
    display: flex;
    flex-direction: row;
}
#tanggalLBold{
    font-weight: bold;

}
#Sebelumnya h2{
    font-size: 30px;
    font-weight: Bolder;
    Padding-left: 300px;
}
#Sebelumnya h3{
    font-size: 22px;
    Padding-left: 250px;
    padding-bottom: 15px
}
#Sebelumnya #button a{
    height: 50px;
    background: #18a4fc;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    padding: 5px 2vh;
    border-radius: 6px;
    border: 2px solid #18a4fc;
    transition: all 0.3s ease;
    cursor: pointer;
    text-decoration: none;
    margin-left: 450px;
    margin-bottom: 1000px
}
#Sebelumnya #button a:hover{
    color: #18a4fc;
    background: none;
}

#textLaundryku1{
    font-size: 32px;
}

#textLaundryku2{
    text-align: center;

}
/* ini admin check order=============================================================================== */
#admin {
    display: flex;
}
#admin #flex img {
    width: auto;
    height: 15%;
    position: absolute;
    top: 7%;
    left: 3%;
}
.judulku .kotak{
    align-items: center;
    border-radius: 10px;
    border: 3px solid #18a4fc;
    width: 100px;
    height: 85vh;
    padding: 20px;
    background-color: white;
    margin-top : 30px;
    margin-left: 30px;
}
#admin .col-sm-10{
    padding-right: 3vw;
}
#admin .form-control{
    padding: 0.5vh;
    border: 2px solid #18a4fc;
    border-radius: 0.4rem;
    width: 300px;
}
#admin .col-form-label{
    font-family: Nunito;
    font-weight: bold;
}
#admin select{
    border: 2px solid #18a4fc;
    border-radius: 0.4rem;
    font-family: nunito;
    padding: 0.5vh;
    width: 200px;
}
#admin #text{
    display: flex;
    flex-direction: row;
}
#admin .mb-3{
    display: flex;
    flex-direction: row;
}
#admin #kotak{
    display: flex;
    flex-direction: column;
    margin-top: 4vh;
    margin-left: 3vw;
}
/* paymentreceived=============================================================================== */
#paymentreceived{
    padding-top: 130px;
    display: flex;
    height: 500px;
}
#paymentreceived img{
    padding-left: 350px;
    width: 80%;
}
#paymentreceived #text #payment{
    display: flex;
}
#paymentreceived #text #payment img{
    padding-left: 0px;
    width: 100%;
    padding-top: 35px;
}
#paymentreceived #text #payment h1{
    font-size: 24px;
    font-weight: bold;
    padding-top: 50px;
    padding-left: 80px;
    font-family: Nunito;
}
#paymentreceived #text h2{
    font-size: 24px;
    padding-top: 5px;
    padding-left: 80px;
    font-family: Nunito;
    font-weight: 400;
}
#paymentreceived #text #button a{
    display: inline-block;
    background: #18a4fc;
    color: #fff;
    font-weight: bold;
    font-size: 17px;
    padding: 4px 32px;
    margin-top: 15px;
    margin-left: 80px;
    border-radius: 6px;
    border: 2px solid #18a4fc;
    transition: all 0.3s ease;
    font-family: Nunito;
    text-decoration: none;
    cursor: pointer;
}
#paymentreceived #text #button a:hover{
    color:  #18a4fc;
    background: none;
}
